body {
	font-family: Arial, sans-serif;
}
.container {
	max-width: 600px;
	margin: 0 auto;
}

.orderForm {
	display: flex;
	flex-direction: column;
	gap: 24px;

	width: min(90%, 600px);

	margin: 40px auto;
}

.orderForm-item {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.orderForm-item input,
.orderForm-item select,
.orderForm-item textarea {
	width: 100%;
	padding: 12px;
	font-size: 16px;
	font-family: inherit;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
}

.orderForm-item label {
	font-weight: 500;
	color: #2c3e50;
}

.form-button {
	font-size: 1em;
	color: white;
	font-weight: 600;
	margin: 16px auto 32px;
	background-color: #ca263e;
	text-decoration: none;
	display: block;
	padding: 12px 16px;
	border-radius: 15px;
	border: none;
	cursor: pointer;
	width: fit-content;
}
