.header {
	padding: 1rem 2rem;
	top: 0;
	border-radius: 0 0 12px 12px;
}
.logo {
	color: #ca263e;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 700;
}
.navigation {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.header-item {
	color: black;
	text-decoration: none;
	padding: 0.5rem 1rem;
	align-items: center;
}

.header-item::after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z'/%3E%3C/svg%3E");
	margin-left: 6px;
	vertical-align: middle;
}

.button {
	background: black;
	font-weight: 500;
	color: white;
	padding: 0.8rem 1.5rem;
	text-decoration: none;
	font-size: 1rem;
	cursor: pointer;
	border: none;
	border-radius: 15px;
}
