@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
	font-weight: 400;
}

.headline {
	font-weight: 500;
	letter-spacing: 0.07em;
	font-size: 2.5rem;
}

.container {
	max-width: 1200px;
	margin: 2rem auto;
	padding: 0 1rem;
}

.button-main {
	padding: 12px 16px;
	color: white;
}
